body {
  font-family: Arial, sans-serif; /* Or a suitable Arabic font */
  margin: 0; /* Remove default body margin */
  background-color: #f5f5f5; /* Light gray background */
  display: flex;
  flex-flow: column;
  min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}
.install-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8; /* Light background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 10px;
    text-align: center;
    display: none; /* Hide it initially */
}
.install-button {
  background-color: #007bff; /* Blue background color */
  width: 100%;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.install-button:hover {
  background-color: #0069d9; /* Darker blue on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* More pronounced shadow */
}

.search-bar {
  position: sticky;
  top: 0;
  z-index: 100; /* Ensure the top bar is above other content */
  display: flex;
  align-items: center;
  background-color: #f8f8f8; /* Light background */
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
.refresh-button {
  background: #28a745;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}
.refresh-button:hover {
  background: #218838;
}
svg {
  fill: white;
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease-in-out;
}
.rotate {
  animation: spin 0.6s linear;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.search-container {
  flex-grow: 1;
}

.search-input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box; /* Include padding and border in width */
}

.product-list-container {
    flex-grow: 1; /* Allow the list to take up remaining space */
    overflow-y: auto; /* Add vertical scrolling if the content overflows */
    margin: 10px;
    padding: 5px; /* Add some padding around the list */
}

.products-title{
    text-align: left;
    margin-bottom: 1rem;
}

#items-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Responsive grid */
    margin: 10px;
    gap: 0px; /* Spacing between grid items */
}

.item-code {
    font-size: 0.7em;
    color: #888888;
    margin-bottom: 1px; /* Space between code and description */
    text-align: center; /* Align code to the left */
}
.item-description {
    font-size: 1em;
    color: #000000;
    flex-grow: 1; /* Allow description to take available space */
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}


.child {
  margin-bottom: 3px; /* Add 20px of space below each child */
}
.item-row {
    display: flex;
    flex-direction: row; /* Make sure items are displayed horizontally */
    align-items: center;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     width: 100%;
     box-sizing: border-box;
    cursor: pointer; /* Change the cursor to a pointer on hover */
}
.item-row:hover {
    background-color: #f0f0f0; /* Optional: Add a hover effect */
}

h1 {
  text-align: center;
}
#items-list {
  margin: 5px;
  margin-top: 5px;
}
#items-list div {
  margin: 5px;
  padding: 5px;
}

#items-list a {
  text-decoration: none;
}

#item-details p {
  margin: 5px 0;
}

@media (max-width: 500px) {
  /* Mobile-specific styles */
  .search-bar {
    padding: 8px;
  }

  .refresh-button {
    padding: 6px;
  }

  .search-input {
    font-size: 14px;
  }
  
  #items-list {
    display: column;
    margin: 5px;
    gap: 0px; /* Spacing between grid items */
  }
}
